<!-- Basics -->

<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluídos en Angular - Usualmente en el CommonModule</p>
</div>

<div class="p-grid">
  <div class="p-col-4">
    <p-card header="uppercase" [subheader]="lowerName">
      {{ lowerName | uppercase }}
    </p-card>
  </div>

  <div class="p-col-4">
    <p-card header="lowercase" [subheader]="upperName">
      {{ upperName | lowercase }}
    </p-card>
  </div>

  <div class="p-col-4">
    <p-card header="titlecase" [subheader]="name">
      {{ name | titlecase }}
    </p-card>
  </div>
</div>

<!-- Dates -->

<div class="text-layout">
  <h1>Pipe Date</h1>
  <p>Pipes para mostrar fechas</p>
</div>

<div class="p-grid">
  <div class="p-col-12">
    <p-card>
      {{ date }}
    </p-card>
  </div>

  <div class="p-col-6">
    <p-card>
      <ul>
        <li>date | date</li>
        <li>date | date: 'short'</li>
        <li>date | date: 'long'</li>
        <li>date | date: 'dd/MM/y H:mm:ss a'</li>
        <li>date | date: "EEEE, MMMM YYYY" | titlecase"</li>
      </ul>

      <hr />

      <ul>
        <li>date | date: "long":"GMT-6"</li>
        <li>date | date: "long":"GMT-4"</li>
        <li>date | date: "long":"GMT-4":"en"</li>
        <li>date | date: "long":"GMT-4":"fr"</li>
      </ul>
    </p-card>
  </div>

  <div class="p-col-6">
    <p-card>
      <ul>
        <li>{{ date | date }}</li>
        <li>{{ date | date: "short" }}</li>
        <li>{{ date | date: "long" }}</li>
        <li>{{ date | date: "dd/MM/y H:mm:ss a" }}</li>
        <li>{{ date | date: "EEEE, MMMM YYYY" | titlecase }}</li>
      </ul>

      <hr />

      <ul>
        <li>{{ date | date: "long":"GMT-6" }}</li>
        <li>{{ date | date: "long":"GMT-4" }}</li>
        <li>{{ date | date: "long":"GMT-4":"en" }}</li>
        <li>{{ date | date: "long":"GMT-4":"fr" }}</li>
      </ul>
    </p-card>
  </div>
</div>
