<app-menu></app-menu>

<router-outlet></router-outlet>

<!-- <div class="text-layout">
  <h1>{{ "Hello World" | uppercase }}</h1>

  <button pButton type="button" label="Click"></button>

  <button
    pButton
    type="button"
    icon="pi pi-check"
    iconPos="left"
    label="TEST"
    class="p-button-help"
  ></button>

  <p-card [header]="name | titlecase" [subheader]="age.toLocaleString()">
    Lorem ipsum dolor sit ameAAAt consectetur, adipisicing elit. Dicta,
    quisquam. Repellat voluptas quas quaerat id ullam, beatae in molestias
    exercitationem quam doloremque animi. Officiis enim dolore ad excepturi
    suscipit adipisci?
    <ng-template pTemplate="footer"> Footer content here </ng-template>
  </p-card>
</div>
 -->
